$version: 'v1';


.Home {
    display: grid;
    @include box(100vw, 100vh);
    grid-template-columns: 340px 1fr;
    max-width: 100vw;
}

.Main {
    background-color: #343541;
    padding: 20px;
    overflow-x: auto;
    align-items: flex-start;

    span {
        color: #8c8c8c;
        font-size: 16px;
    }

    .FancyTextarea {
        @include box(100%, auto);
        min-height: 250px;
        border-radius: 5px;
        background-color: #202123;
        border: 1px solid #4d5055;
        color: #fff;
        font-family: 'Fira Code', monospace;
        font-size: 14px;
        padding: 20px;
        transition: all 0.2s ease-in-out;
        &::placeholder {
            color: #8c8c8c;
        }
        &:focus {
            border-color: #97b9fc;
        }
    }

    .Tabs {
        @include box(100%, auto);

        & > button {
            cursor: pointer;
            @include box(100%, 40px);
            background-color: #202123;
            color: #fff;
            border-top: 1px solid #4d5055;
            border-bottom: 1px solid #4d5055;

            transition: all 0.2s ease-in-out;

            &:first-child {
                border-radius: 5px 0 0 0;
                border-right: 1px solid #4d5055;
                border-left: 1px solid #4d5055;
            }

            &:last-child {
                border-radius: 0 5px 0 0;
                border-left: 0px solid #4d5055;
                border-right: 1px solid #4d5055;
            }

            &:hover {
                text-decoration: underline;
            }

            &.active {
                background-color: #4d5055;
                color: #fff;
                border-top: 1px solid #4d5055;
                border-bottom: 1px solid #4d5055;
                border-left: 1px solid #4d5055;
                border-right: 1px solid #4d5055;
            }
        }
    }
    & select {
        @include box(auto, 40px);
        background-color: #202123;
        border: 1px solid #4d5055;
    }
    & .FancyButton {
        @include box(300px, 40px);
        background-color: #97b9fc;
        border: 1px solid #4d5055;
        color: #000000;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;

        position: sticky;
        bottom: 20px;
        &:hover {
            background-color: #4f72aa !important;
            color: #fff;
        }
    }

    .DataGrid {
        max-width: 100%;
        overflow-x: auto;

        input {
            color: #202123;
        }
    }
    .paginationButton {
        background-color: #202123 !important;
        color: #fff !important;
        border: 1px solid #4d5055 !important;
        &:hover {
            background-color: #4f72aa !important;
            color: #fff !important;
        }
    }
}

.Aside {
    background-color: #000;
    padding: 20px;
    position: relative;
    overflow-y: auto;
    & > select,
    & input {
        @include box(100%, 40px);
        background-color: #202123;

        border: 1px solid #4d5055;
    }

    & > select {
        flex-shrink: 0;
    }
    & input {
        border-radius: 5px;
        padding: 0 10px;
    }

    .Profile {
        & > img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
            aspect-ratio: 1/1;
        }
    }

    & > h2 {
        width: 100%;
        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &--item {
        @include box(100%, 40px);
        padding: 10px;
        color: #fff;
        border-radius: 5px;
        background-color: #202123;
        transition: all 0.2s ease-in-out;

        & > a {
            text-decoration: none;
            @include box(100%, 100%);
        }

        & > button {
            padding: 0;
            display: none;
            @include box(auto);
            background-color: transparent !important;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: lightcoral !important;
                color: #fff;
            }
        }

        &:hover {
            background-color: #4d5055;
            & > button {
                display: block;
            }
        }

        &.selected {
            background-color: #4d5055;
        }

        &:last-child {
            margin-bottom: auto;
        }
    }

    & > div > .FancyButton {
        @include box(100%, 40px);
        margin-top: auto;
        background-color: #97b9fc;
        border: 1px solid #4d5055;
        color: #000000;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;

        position: sticky;
        bottom: 20px;
        &:hover {
            background-color: #4f72aa !important;
            color: #fff;
        }
    }
}
@import 'https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css?version=${version}';